<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block" ng-init="setGridOptions('orderFeeslist-grid', {
                    data: 'blade.lineItems',
                    rowTemplate: 'list.row.html',
                    rowHeight: 61,
                    columnDefs: [
                                { name: 'name', displayName: 'marketplace-commissions.blades.order-fee-list.labels.line-item-name' },
                                { name: 'commissionName', displayName: 'marketplace-commissions.blades.order-fee-list.labels.commission-name' },
                                { name: 'fee', displayName: 'marketplace-commissions.blades.order-fee-list.labels.fee', cellTemplate: 'fee.cell.html' }
                                ]})">
            <div class="table-wrapper" ng-if="blade.lineItems">
                <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-resize-columns ui-grid-pinning ui-grid-height></div>
            </div>
            <div class="note" ng-if="!blade.lineItems">{{ 'platform.list.no-data' | translate }}</div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="list.row.html">
    <div ng-click="grid.appScope.selectNode(row.entity)" ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid" ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'" class="ui-grid-cell" ng-class="{'ui-grid-row-header-cell': col.isRowHeader, '__hovered': grid.appScope.contextMenuEntity === row.entity, '__selected': row.entity.id===grid.appScope.selectedNodeId }" role="{{col.isRowHeader ? 'rowheader' : 'gridcell' }}" ui-grid-cell></div>
</script>

<script type="text/ng-template" id="fee.cell.html">
    <div class="ui-grid-cell-contents" ng-if="COL_FIELD">
        <span class="grid-font-bold">{{ COL_FIELD }}</span>
        <span class="grid-font-darkgray grid-font-xsmall">{{ row.entity.currency }}</span>
    </div>
</script>
